.container {
  color: white;
  margin: 20px;
}

.bg-image {
  border-radius: 40px;
}
.search-form {
  padding-top: 5%;
}

.show-weather {
  padding-top: 50%;
}

.main-temp {
  margin-top: -30px;
  font-size: 80px;
  font-family: "Wallpoet", cursive;
}

.smaller {
  font-size: 30px;
}

.city {
  margin-top: -20px;
  margin-bottom: 3px;
  font-size: 40px;
  font-family: "Audiowide", cursive;
}

.information {
  font-size: 18px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  font-size: 15px;
  font-weight: 200;
  margin-left: 250px;
}

.footer {
  font-size: 11px;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}

.weather-icon {
  margin: 10px;
}

.temp-types {
  margin-top: -10px;
}

.min-temp {
  opacity: 50%;
}
